extends layout
block content
	.container
		.container-left
			textarea 
		.container-right
			iframe(src='/show.html', frameborder=0)
		#send
			a 提交
	script.
		$(function() {

			// 定义默认界面
			var t = '\
		<html>\n\
			<head>\n\
			</head>\n\
			<body>\n\
				<h1>Hello World</h1>\n\
			</body>\n\
		</html>'
			$('textarea').text(t);

			// 绑定tab键缩进
			$("textarea").on('keydown',function(e){
			    if(e.keyCode == 9){
			        e.preventDefault();
			        var indent = '    ';
			        var start = this.selectionStart;
			        var end = this.selectionEnd;
			        var selected = window.getSelection().toString();
			        selected = indent + selected.replace(/\n/g,'\n'+indent);
			        this.value = this.value.substring(0,start) + selected + this.value.substring(end);
			        this.setSelectionRange(start+indent.length,start+selected.length);
			    }
			})
			/**
			 *
			 */
			 console.log(1)

			// 绑定点击提交
			$('#send').on('click', function(e) {
				var text = $('textarea').val();
				$.ajax({
					url: '/save',
					method: 'GET',
					data: {text: text},
					success: function(data) {
						$('iframe').attr('src', $('iframe').attr('src'));
					}
				});
			});

			// 出发点击提交
			$('#send').trigger('click');
		});
		


